@import url('https://fonts.googleapis.com/css?family=Righteous');

* {
  font-family: "Righteous", sans-serif;
  text-align: center;
  margin: 0 auto;
}

td {
  width: 15px;
  height: 15px;
  text-align: center;
}

table {
  border: 1px solid black;
}
